@import url("estilos/header.css");

:root{
    --cor-de-fundo: #0A110B ;
    --cor-cabecalho: #0A110B ;
    --cor-da-fonte: #D8FFDE ;
    --cor-fonte-titulo: #026510;
}

body{
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
}

