.titulo{
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
}


.cabecalho{
    color: var(--cor-da-fonte);
    background-color: var(--cor-cabecalho);
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    
}

.cabecalho--home{
    margin: 9px;
    
}

.cabecalho--menu-hamburguer{

    background-image: url(../imagens/barrinha.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    margin: 5px;
}

.lista-menu{
    display: none;
}

.cabecalho--botao:checked ~ .lista-menu{
    display: block;
}

.cabecalho--botao{
    display: none;
}