.corpo-tudo{
    background-color: var(--cor-de-fundo);
    margin: 0px 20px 20px 20px;
    color: var(--cor-da-fonte);
    
}

.secao-1{


}

.secao-1-titulo{
    margin: 25px 20px;

}

.secao-1-texto{
    margin: 10px;

}