.corpo-tudo{
    background-color: var(--cor-de-fundo);
    margin: 0px 20px 20px 20px;
    color: var(--cor-da-fonte);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.secao-1{
    

}

.secao-1-titulo{
    text-align: center;



}

.secao-1-texto{
    margin: 10px;

}